@font-face {
    font-family: 'Steel City Comic';
    src: url('fonts/steelcitycomic.eot');
    src: local('Steel City Comic'), local('steelcitycomic'),
        url('fonts/steelcitycomic.eot?#iefix') format('embedded-opentype'),
        url('fonts/steelcitycomic.woff') format('woff'),
        url('fonts/steelcitycomic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    font-family: Steel City Comic, Verdana, sans-serif;
    overflow: hidden;
}

#loading,
#drawCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gameDiv {
    position: relative;
    width: 100%;
    height: 100%;
}

#loading {
    height: 60px;
    text-align: center;
    top: 25%;
}

#loading h2 {
    color: #fff;
    font-family: Steel City Comic, Verdana, sans-serif;
}
